@font-face {
    font-family: 'SpecialElite';
    src: url('../SpecialElite-Regular.ttf');
    font-weight: 600;
    font-style: normal; 
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'SpecialElite';
}

ul {
    list-style-type: none;
}

.main-grid-container {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */

    display: grid;
    grid-template-rows: 180px 1fr 40px;

    height: 100%;
    width: 60%;
    margin: auto;
}

/*header styling*/
.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.restaurant-name {
    font-size: 4rem;
}

.navbar {
    width: 100%;
}

.navbar ul{
    display: flex;
    justify-content: space-between;

    margin: 1rem auto 2rem;
    font-size: 1.5rem;
}

.nav-link {
    transition: transform 0.3s;
}

.nav-link.active {
    border-bottom: 2px solid black;
}

.nav-link:hover {
    transform: translateY(-10%);
    cursor: pointer;
}

/*home styling*/
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 1rem auto 2rem;
    height: 100%;
}

.restaurant-greeting {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 2.5rem auto 2rem;
    gap: 2.5rem;
}

.restaurant-greeting h2 {
    margin-bottom: 2rem;
    text-align: center;
}

.restaurant-greeting p {
    text-align: center;
}

/*menu styling*/
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-container {
    display: grid;
    grid-template-columns: 20ch 1fr 10ch;
    align-items: center;
    padding: 2rem;
}

/* .item-name{
    text-align: center;
} */

.item-desc {
    padding: 1rem;
}

.item-cost {
    text-align: end;
}

/*footer styling*/
.footer {
    text-align: center;
    margin-top: 1.5rem;
}